*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.btn{
    text-decoration: none;
}
.navbar{
    background-color:#4b474773 ;
}
.navbar-toggler{
    color: green;
}
.carousel  {
    height: 500px;
}
.carousel-inner{
    /* height: 100%; */
    height: 500px;
}

.carousel-caption{
    width: 100%;
    height: 100%;
    background-color: #4b474773;
    right: 0;
    left:0;
    bottom:0;
    text-align: left;
    padding: 3rem;
    color: black;
}
.carousel-caption h5{
    margin-top: 3rem;
}
.carousel-indicators button{
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
}
.carousel-indicators button.active{
    background-color: black !important;
}

.img-slide{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img-slide img{
    height: 100%;
    object-fit: contain;
    object-position: right;
}
.about {
    background-color: #fff;
    box-shadow: #ddd 0px 0px 13px 5px;
    margin: 90px 30px 20px 30px;     
}
.about .about-box {
text-align: left;
float: right;
width: 100%;
max-width: 539px;
padding: 40px 0;  
}
.about .about-box::after {
    position: absolute;
    content: "";
    background: url(../images/crros.png);
    height: 244px;
width: 187px;
bottom: 0;
left: 0;
background-repeat: no-repeat;
}
.about .about-box h2 {

    font-weight: bold;
    color: #fff;
    line-height: 40px;
    font-size: 45px;
    text-transform:uppercase;
    background: #547d13;
    display: inline-block;
    padding: 20px 30px;

}
.about .about-box p {
    font-size: 17px;
    line-height: 28px;
    color: #000;
    padding: 40px 0px;
}

.about .about-box a {
    font-size: 16px;
border: #070905 solid 1px;
background-color: #070905;
color: #fff;
padding: 9px 0px;
max-width: 171px;
width: 100%;
display: inline-block;
text-align: center;
text-transform: uppercase;
border-radius: 30px;
}


.about .about-box a:hover{ 
    background-color: #428713;
    border: #428713 solid 1px;
   color: #fff;
}
.about .about-box_img figure {
    margin: 0;
}
.about .about-box_img figure img {
   width: 100%;
}

.vegetable {
    background-color: #fff;
    margin-top: 70px;
}

.vegetable_shop h3 {
font-size: 31px;
line-height: 35px;
color: #000;
font-weight: 500;
padding-bottom: 17px;
display: block;
}


.vegetable_shop p {

    font-size: 17px;
    line-height: 28px;
    color: #000;
}

.vegetable_img {
    position: relative;
}

.vegetable_img span {
    display: flex;
    justify-content: center;
    align-items: center;
    right: -30px;
    top: calc(50%  - 30px);
    background: #428713;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-size: 19px;
    width: 60px;
    height: 60px;
}

.vegetable_img figure {margin: 0;}
.vegetable_img figure img {width: 100%}
.margin_top {
   margin-top: -90px;
}

.titlepage {
   text-align: center;
    padding-bottom: 60px;
}
.llow {color: #488d1c; font-weight: bold;}
.titlepage h2 {
    text-transform: uppercase;
    padding: 0;
    font-weight: bold;
    color: #000;
    line-height: 55px;
    font-size: 50px;
}
.testimonial-section {
    background-image: url(/img/v1.jpg);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 90%);
    padding: 5rem;
    opacity: .9;
}
.testimonial{
    position: relative;
}
.testimonial .titlepage h2{
    float: right;
}
.testimonial .titlepage{
    position: absolute;
    top: -28px;
    right: 0;
}
.testimonial-section .card-text{
    font-size: 100px;
    color: green;
    margin-top: -50px;
}
.testimonial-section .testimonial_img{
    background-color: white;
}
.c-testimonial{
    background-color: #428713;
}
.r1{
    background: #428713;
}
.testimonial_img{
    background:#fff; 
    height: 350;
}
.btn-send {
    padding: 9px 0;
 background: #428713;
 color: #fff;
 margin-left: -5px;
 font-weight: 500;
 font-size: 18px;
 max-width: 170px;
 width: 100%;
 text-transform: uppercase;
 transition: all 0.3s ease-in;
 }
 .form-box .btn-send{
     float: right;
 }
 .btn-send:hover {
     background: #ff7e1d;
     
     color: #fff;
     transition: all 0.3s ease-in;
 
 }
.contact-us{
    background-color: #fff;
    box-shadow: #ddd 0px 0px 13px 5px;

}
.footer {
    background: #3b3b3b;
    padding-top: 60px;
}

.logo_footer {
border: #ddd solid 2px;
padding: 11px 50px;
display: inline-block;
margin-bottom: 30px;
}
.footer .address h3 {
    color: #fff;
font-size: 30px;
line-height: 35px;
font-weight: bold;
padding-bottom: 20px;
}
.location_section {
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 35px;
}

.news .newslatter {
    padding: 7px 23px;
box-shadow: inherit;
border: inherit;
width: 100%;
font-size: 19px;

margin-bottom: 20px;
}
.submit {
   padding: 9px 0;

background: #428713;
color: #fff;
margin-left: -5px;
font-weight: 500;
font-size: 18px;
max-width: 170px;
width: 100%;
border-radius: 30px;
text-transform: uppercase;
transition: all 0.3s ease-in;
}
.submit:hover {
    background: #ff7e1d;
    
    color: #fff;
    transition: all 0.3s ease-in;

}
ul.social_link {
    
   padding-bottom: 35px;
    padding-top: 7px;
    display: block;
}
ul.social_link li {
   display: inline-block;
    padding-right: 4px;

}

ul.social_link li a img {
   width: 30px;
    height: 30px;
}
ul.social_link li a img:hover {
    background-color: #f4b328 ;
    border-radius: 20px;
}
ul.Menu_footer li{

    display: block;
    color: #3e7f21;

}



ul.Menu_footer li a {
    display: block;
    color: #fcfbfb;
    font-size: 17px;
  
   
}
ul.Menu_footer li a:hover{
    color: #f4b328 ;
}


ul.loca li {
    color: #fcfbfb;
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;
}
ul.loca li a {
    color: #fcfbfb;
    margin-top: 4px;
}
.copyright {
    padding: 20px 0px;
    margin-top: 55px;
    background-color: #428713;
}
.copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  
}
.copyright a {
    color: #fff;
}
.copyright a:hover {
    color: #ff7e1d ;
}
/* Responsive */

@media only screen and (max-width:600px){
    .testimonial-section{
        height: fit-content;
        padding: 5rem 2rem;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    }
    .testimonial .titlepage h2{
        font-size: 30px;
     margin-top: -30px;
    }
    .vegetable .responsive img{
        margin-top: 95px;
    }
}